.TaskForm input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid grey;
    width: 265px;
    text-align: center;
    margin-top: 80px;
    margin-left: 39%;
}

.button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.text {
    text-align: center;
}